
/*Estilo search*/
#imaginary_container{
    margin-top:2%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/*Fin estilo search*/

/* Inicio estilos de la pagina */
    * {
     margin: 0;
     padding: 0;
    }

    body {
     background-color: #000;
     font-family: 'Oswald', sans-serif;
     font-size: 1.5em;
    }
    /*logo*/
    p {
      text-align: justify;
    }
    .logo {
      width: 40%;
      /*padding-bottom: 1%;*/
    }
    .navbar-default{
    background-color: #011D28;
    border-color: #011D28;
    }
    .navbar-default .navbar-nav>li>a{
     color: #FFF;
    }
    /*carousel*/
    .subTitle{
     color: #FFF;
     padding-bottom: 1%;
    }
/* Fin estilos de la pagina */

/* Logo nav  */
.logo{
    color:#FFF;
    font-weight:800;
    font-size:30px;
    width: 20%;
}

.imgUser {
    width: 100px;
}

/*seccion de peliculas*/
.listMovie {
    margin: 2em;
}

.portafolio-contenedor {
-webkit-transition:all .9s ease;
-moz-transition:all .9s ease;
-o-transition:all .9s ease;
-ms-transition:all .9s ease;
width:100%;
}
.portafolio-contenedor:hover {
-webkit-transform:scale(1.2);
-moz-transform:scale(1.2);
-ms-transform:scale(1.2);
-o-transform:scale(1.2);
transform:scale(1.2);
}

.portafolio {
    overflow:hidden;
}
/*footer*/
footer {
 letter-spacing: .1em;
 color: #FFF;
}

.icons{
  font-size: 2em;
  margin-left: 20px;
}
.copyright {
  background-color: #011D28;
  padding-top: 30px;
}
.adress span , .menu span{
   color: #FFF;
   font-weight: 800;
   border-bottom: 1px solid #c7c7c7;
   padding-bottom: 10px;
   margin-bottom: 20px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}

.adress li a , .menu li a{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:12px;
}

.adress li, .menu li{
    margin-top: 5px;
    list-style: none;
}

.adress li a:hover , .menu li a:hover{
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.logo {
  width: 40%;
  /*padding-bottom: 1%;*/
}

.navbar-brand {
  padding: 0;

}
