/*Estilo search*/
#imaginary_container{
    margin-top:2%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/*Fin estilo search*/

/* Inicio estilos de la pagina */
    * {
     margin: 0;
     padding: 0;
    }

    body {
     background-color: #2D3E50;
     font-family: 'Oswald', sans-serif;
     font-size: 1.5em;
    }
    p {
      text-align: justify;
    }
    .navbar-default{
    background-color: #008CBA;
    border-color: #008CBA;
    }
    .navbar-default .navbar-nav>li>a{
     color: #FFF;
    }
    /*carousel*/
    .subTitle{
     color: #FFF;
     padding-bottom: 1%;
    }
/* Fin estilos de la pagina */

/* Logo nav  */
.logo{
    color:#FFF;
    font-weight:800;
    font-size:30px;
    width: 20%;
}

.imgUser {
    width: 100px;
}

/*seccion de peliculas*/
.listMovie {
    margin: 2em;
}

.portafolio-contenedor {
-webkit-transition:all .9s ease;
-moz-transition:all .9s ease;
-o-transition:all .9s ease;
-ms-transition:all .9s ease;
width:100%;
}
.portafolio-contenedor:hover {
-webkit-transform:scale(1.2);
-moz-transform:scale(1.2);
-ms-transform:scale(1.2);
-o-transform:scale(1.2);
transform:scale(1.2);
} 

.portafolio {   
    overflow:hidden;
}
