
body {
  background-color: #252524;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;

}
p {
  text-align: justify;
}
/*Menu*/
.navbar-default {
  background-color: #011D28;
  border-color: #011D28;
  }
.navbar-default .navbar-nav>li>a{
 color: #FFF;
 }


/*css de modales registro y login*/
 .modal-content {
 background-color: #011D28;
 color: #FFF;
}
.modal-user {
 background-color: #011D28;
 color: #FFF;
}
.close {
  color: #FFF !important;
  font-size: 3em;
}
.close:focus {
  outline: none;
}
/*modal login*/
.modal-user {
  display: inline-block;
  border: none;
  background-color: #027feb;
  font-size: 200%;
}
.btnLogin {
  background-color: #22A1D3;
}
.fa-user-circle {
    color: #2784f3;
    background: transparent;
}
/*slides*/
.subTitle {
 color: #FFF;
 padding: 1% 1%;
}
.carousel img {
  width: 250vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-caption {
 bottom: 50px;
}
.user {
 background-color: #252524;
 border: 0px solid #252524;
}
/*registry*/
.registry {
margin-bottom: 20%;
}

.btnRegistry {
 background-color: #22A1D3;
 font-size: 1.4em;
 margin: 10px;
 color: #FFF;
}
.entry {
 padding-top: 7em;
 padding-bottom: 7em;
}

.start {
 margin-top: -130px;
 color: #FFF;
 text-align: center;
}


/*footer*/
footer {
 background-color: #252524;
 letter-spacing: .1em;
 color: #FFF;
}

.icons{
  font-size: 2em;
  margin-left: 20px;
}
.copyright {
  background-color: #011D28;
  padding-top: 30px;
}

.adress span , .menu span{
   color: #FFF;
   font-weight: 800;
   border-bottom: 1px solid #c7c7c7;
   padding-bottom: 10px;
   margin-bottom: 20px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}

.adress li a , .menu li a{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:12px;
}

.adress li, .menu li{
    margin-top: 5px;
    list-style: none;
}

.adress li a:hover , .menu li a:hover{
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.logo {
  width: 20%;
  /*padding-bottom: 1%;*/ 
}

.navbar-brand {
  padding: 0;
    
}



