

@media screen and (max-width: 767px) {
  .logo {
    width: 60%;
  }
  .navbar-brand {
    padding: 0;
    float: none;
  }
  .imgSaga {
    max-width: 100% !important;
    height: 70vh !important;
  }
  .entry {
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 0; 
    padding-left: 0; 
  }
  .caption {
    margin-top: 20vh; 
  }

  .imgSagaStar {
    max-width: 100% !important;
    height: 40vh !important;
  }

  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    width: 30%;
    text-align: center;
  }
  .navbar-brand {
    padding: 0;
    float: none;
  }
  .imgSaga {
    max-width: 100% !important;
    height: 80vh !important;
  }
  .entry {
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 0; 
    padding-left: 0; 
  }
  .caption {
    margin-top: 20vh; 
  }

  .imgSagaStar {
    max-width: 100% !important;
    height: 40vh !important;
  }

  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}
