* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #252524;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;

}
p {
  text-align: justify;
}

/*logo*/

.logo {
  width: 40%;
  /*padding-bottom: 1%;*/
}

.navbar-brand {
    padding: 0;
}
.navbar-default {
  background-color: #011D28;
  border-color: #011D28;

}
.navbar-default .navbar-nav>li>a{
  color: #FFF;
  font-size: 1.5em;
  }

.open>a:hover {
  background-color: #555;
  }

menu:hover{
  background-color: #ddd;

}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
   color: #FFF;
}
.dropdown-menu{
 width:50%;
 background-color: #FFF;
}

.film{
 padding-left: 30px;
}
/*search*/
.control-label {
 font-size: 2em;
}
.caret {
  color: #FFF;
  border-top: 20px dashed;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}
.space {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*Estilo search*/
#imaginary_container{
    margin-top:2%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/*Fin estilo search*/

.title-category{
  padding-bottom: 3%;
  padding-top: 3%;
}

.imgUser {
	width: 100px;
}

/* titulos de las Categorías */

h2 {
  font-size: 1.0em;;
  background-color: #011D28;
  padding: 0.5em;
}

/*desde aqui clases del carrusel*/
.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-25%;
      }
      &.right{
        left:25%;
      }
    }
    .next{
      left: 25%;
    }
    .prev{
      left: -25%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

//non-related styling:
body{
  background: #333;
  color: #ddd;
}
h1{
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}
/*hasta aqui termina carrusel*/
/*footer*/
footer {
 background-color: #252524;
 letter-spacing: .1em;
 color: #FFF;
}
.icons{
  font-size: 2em;
  margin-left: 20px;
}
.copyright {
  background-color: #011D28;
  padding-top: 30px;
}

/*estilo para carrusel*/
.portafolio-contenedor {
  -webkit-transition:all .9s ease;
  -moz-transition:all .9s ease;
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease;
  width:100%;
}
.portafolio-contenedor:hover {
  -webkit-transform:scale(1.2);
  -moz-transform:scale(1.2);
  -ms-transform:scale(1.2);
  -o-transform:scale(1.2);
  transform:scale(1.2);
}

.portafolio {
  overflow:hidden;
}
