* {
 margin: 0;
 padding: 0;
}

body {
  background-color: #000;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  letter-spacing: .1em;
}

p {
  text-align: justify;
}
/*titles of the Categories*/
h3 {
  background-color: #011D28;
  padding: 0.5em;
  margin-bottom: 20px;
}
/*logo*/
.logo {
  width: 40%;
  /*padding-bottom: 1%;*/
}
/*Menu*/
.navbar-brand {
  padding: 0;
}

.navbar-default {
  background-color: #011D28;
  border-color: #011D28;
}

.navbar-default .navbar-nav>li>a{
  color: #FFF;
  /* font-size: 1.5em; */
}

.navbar-default .navbar-nav>li>a:hover{
  color:#027feb;
  /* font-size: 1.5em; */
}

.open>a:hover {
  background-color: #555;
}

menu:hover{
  background-color: #ddd;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
   color: #027feb;
}

.dropdown-menu{
 width:50%;
 background-color: #011D28;
}

.dropdown-togge.button {
  color: #FFF;
}

.control-label{
 padding-top: 150px;
}

.film{
 padding-left: 30px;
 padding-bottom: 30px;
}

footer {
 background-color: #000;
 letter-spacing: .1em;
 color: #FFF;
}

.text-footer p a {
  text-align: justify;
  color: #FFF;
}

.text-footer p a:hover {
  text-align: justify;
  color: #027feb;
}

.icons{
  font-size: 2em;
  margin-left: 20px;
}

.fa-facebook, .fa-twitter, .fa-linkedin, .fa-apple, .fa-play {
  color: #FFF;
  font-size: 1.8em;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-apple:hover, .fa-play:hover   {
  color: #027feb;
}

.copyright {
  background-color: #011D28;
  padding-top: 30px;
}

.text-footer p a:hover {
  text-align: justify;
  color: #22A1D3;
  text-decoration: none;
}

.mostrar {
  display: none;
}

.imgUser {
  width: 100px;
}

